force-app/main/default/flows/UN_UserNotificationCreateDoneEventFromRelatedRecordId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Can_create_Done_Event</name>
        <label>Can create Done Event</label>
        <locationX>968</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>User_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Can_create_Done_Event_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>User_Notification.INT_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INNBOKS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Notification.INT_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BESKJED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Notification.INT_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPPGAVE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_user_notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Related_Record_Id</name>
        <label>Has Related Record Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>User_Notification_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Has_Related_Record_Id_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Query User Notifications and create Done events for them with the supplied datetime variable.
The query filter will filter on user notifications where Done = false, System user equals supplied system user and the event type can have done notifications.</description>
    <environments>Default</environments>
    <interviewLabel>User Notification - Create Done Event From Related Record Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Notification - Create Done Event From Related Record Id</label>
    <loops>
        <name>User_Notification</name>
        <label>User Notification</label>
        <locationX>616</locationX>
        <locationY>350</locationY>
        <collectionReference>User_Notification_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Can_create_Done_Event</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>968</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>User Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>User_Notification.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_Info__c</field>
            <value>
                <stringValue>User_Notification__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>User Notification - Create Done Event From Related Record Id</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>User_Notification_Collection</name>
        <label>User Notification Collection</label>
        <locationX>616</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Notification</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5) AND (6 OR (7 AND 8))</filterLogic>
        <filters>
            <field>CRM_RelatedSfRecord__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>INT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INNBOKS</stringValue>
            </value>
        </filters>
        <filters>
            <field>INT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BESKJED</stringValue>
            </value>
        </filters>
        <filters>
            <field>INT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPPGAVE</stringValue>
            </value>
        </filters>
        <filters>
            <field>INT_SystemUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>systemuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>INT_AppName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appname</elementReference>
            </value>
        </filters>
        <filters>
            <field>INT_Namespace__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>namespace</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserNotification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_user_notification</name>
        <label>Update user notification</label>
        <locationX>704</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>User_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Application_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Notification.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Done__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_DoneEventTime__c</field>
            <value>
                <elementReference>DoneDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>UserNotification__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Related_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>sf-brukernotifikasjon</stringValue>
        </value>
    </variables>
    <variables>
        <name>DoneDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>namespace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>teamnks</stringValue>
        </value>
    </variables>
    <variables>
        <name>RelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>systemuser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
