force-app/scratch-org/flows/Done_event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Done_message</name>
        <label>Create Done message</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>UN_DoneProducerLegacy</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>tidspunkt</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userNotification</name>
            <value>
                <elementReference>UserNotification</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Can_user_notification_be_closed</name>
        <label>Can user notification be closed</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Correct_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserNotification.INT_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BESKJED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserNotification.INT_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPPGAVE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserNotification.INT_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INNBOKS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Done_message</targetReference>
            </connector>
            <label>Is Correct Type</label>
        </rules>
    </decisions>
    <interviewLabel>Done event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Done event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Can_user_notification_be_closed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>UserNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
</Flow>
