force-app/scratch-org/flows/Test_new_event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Inbox_Event</name>
        <label>Create Inbox Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UN_InnboksAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ident</name>
            <value>
                <elementReference>Ident</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>kanBatches</name>
            <value>
                <elementReference>Kan_Batches.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prefererteKanaler</name>
            <value>
                <elementReference>Prefererte_kanaler</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordSfId</name>
            <value>
                <elementReference>relatedRecordSfId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sensitivitet</name>
            <value>
                <elementReference>Sensitivitet</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tekster</name>
            <value>
                <elementReference>Tekster</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Test new event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test new event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Inbox_Event</targetReference>
        </connector>
        <fields>
            <name>Varsel_Id</name>
            <dataType>String</dataType>
            <fieldText>Varsel Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ident</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>12345678901</stringValue>
            </defaultValue>
            <fieldText>Ident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tekster</name>
            <defaultValue>
                <stringValue>Test test TEST</stringValue>
            </defaultValue>
            <fieldText>Tekster</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Link</name>
            <dataType>String</dataType>
            <fieldText>Link</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sensitivitet</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>high</stringValue>
            </defaultValue>
            <fieldText>Sensitivitet</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Prefererte_kanaler</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>SMS, EPOST</stringValue>
            </defaultValue>
            <fieldText>Prefererte kanaler</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SMS_Varslingstekst</name>
            <dataType>String</dataType>
            <fieldText>SMS Varslingstekst</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Epost_Varslingstittel</name>
            <dataType>String</dataType>
            <fieldText>Epost Varslingstittel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Epost_Varslingstekst</name>
            <dataType>String</dataType>
            <fieldText>Epost Varslingstekst</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Kan_Batches</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Kan batches</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cluster</name>
            <dataType>String</dataType>
            <fieldText>Cluster</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name_Space</name>
            <dataType>String</dataType>
            <fieldText>Name Space</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>App_Navn</name>
            <dataType>String</dataType>
            <fieldText>App Navn</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CRM_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>UserNotification__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>relatedRecordSfId</name>
            <dataType>String</dataType>
            <fieldText>relatedRecordSfId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Systembruker</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>teamCRM</stringValue>
            </defaultValue>
            <fieldText>Systembruker</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
