force-app/scratch-org/flows/Test_new_event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Inaktiver_Event</name>
        <label>Create Inaktiver Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UN_InaktiverAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_create_Inaktiver_event</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userNotification</name>
            <value>
                <elementReference>Create_Inbox_Event.userNotification</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UN_InaktiverAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Inbox_Event</name>
        <label>Create Inbox Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UN_InnboksAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_create_innboks_notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ident</name>
            <value>
                <elementReference>Ident</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>kanBatches</name>
            <value>
                <elementReference>Kan_Batches.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferertKanal</name>
            <value>
                <elementReference>Prefererte_kanaler</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordSfId</name>
            <value>
                <elementReference>relatedRecordSfId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sensitivitet</name>
            <value>
                <elementReference>Sensitivitet</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tekster</name>
            <value>
                <elementReference>Tekster</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UN_InnboksAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Publish_Inaktiver_Event</name>
        <label>Publish Inaktiver Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UN_PublishInaktiverAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Publish_Inaktiver_Event</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userNotifications</name>
            <value>
                <elementReference>Publish_inbox_notification</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UN_PublishInaktiverAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Publish_inbox_notification</name>
        <label>Publish inbox notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UN_PublishInnboksAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_publish_inbox_notification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userNotifications</name>
            <value>
                <elementReference>Create_Inbox_Event.userNotification</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UN_PublishInnboksAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_create_Inaktiver_event</name>
        <label>Check create Inaktiver event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_success_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Inaktiver_Event.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Inaktiver_Event</targetReference>
            </connector>
            <label>Is success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_create_innboks_notification</name>
        <label>Check create innboks notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Inbox_Event.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_inbox_notification</targetReference>
            </connector>
            <label>Is success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Publish_Inaktiver_Event</name>
        <label>Check Publish Inaktiver Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_success_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Publish_Inaktiver_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Publish_Inaktiver_Event.CRM_SuccessfullySentDone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_screen</targetReference>
            </connector>
            <label>Is success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_publish_inbox_notification</name>
        <label>Check publish inbox notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_success_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Publish_inbox_notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Publish_inbox_notification.CRM_SuccessfullySentNotification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inaktiver_Event</targetReference>
            </connector>
            <label>Is success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Test new event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test new event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_text</name>
            <fieldText>&lt;p&gt;Error message: {!Create_Inbox_Event.errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen_0</name>
        <label>Error screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message_0</name>
            <fieldText>&lt;p&gt;Publish Inaktiver event failed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen_1</name>
        <label>Error screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message_1</name>
            <fieldText>&lt;p&gt;Error message: {!Create_Inaktiver_Event.errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Inbox_Event</targetReference>
        </connector>
        <fields>
            <name>Varsel_Id</name>
            <dataType>String</dataType>
            <fieldText>Varsel Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ident</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>12345678901</stringValue>
            </defaultValue>
            <fieldText>Ident</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tekster</name>
            <defaultValue>
                <stringValue>Test Message</stringValue>
            </defaultValue>
            <fieldText>Tekster</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Link</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>https://nav.no/minside</stringValue>
            </defaultValue>
            <fieldText>Link</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sensitivitet</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>high</stringValue>
            </defaultValue>
            <fieldText>Sensitivitet</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Prefererte_kanaler</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>SMS</stringValue>
            </defaultValue>
            <fieldText>Preferert kanal</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SMS_Varslingstekst</name>
            <dataType>String</dataType>
            <fieldText>SMS Varslingstekst</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Epost_Varslingstittel</name>
            <dataType>String</dataType>
            <fieldText>Epost Varslingstittel</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Epost_Varslingstekst</name>
            <dataType>String</dataType>
            <fieldText>Epost Varslingstekst</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Kan_Batches</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Kan batches</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cluster</name>
            <dataType>String</dataType>
            <fieldText>Cluster</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Name_Space</name>
            <dataType>String</dataType>
            <fieldText>Name Space</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>App_Navn</name>
            <dataType>String</dataType>
            <fieldText>App Navn</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CRM_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>UserNotification__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>relatedRecordSfId</name>
            <dataType>String</dataType>
            <fieldText>relatedRecordSfId</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Systembruker</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>teamcrm</stringValue>
            </defaultValue>
            <fieldText>Systembruker</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;Published Inaktiver event &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;succussfully &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
