force-app/scratch-org/flows/Test_Done_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Test Done Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Done Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Test_Done_Event</name>
        <label>Test Done Event</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Done_Event</targetReference>
        </connector>
        <fields>
            <name>User_Notification_Related_SF_Id</name>
            <dataType>String</dataType>
            <fieldText>User Notification Related SF Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Done_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Done Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>System_User</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>teamCRM</stringValue>
            </defaultValue>
            <fieldText>System User</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_Done_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Done_Event</name>
        <label>Create Done Event</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>UN_UserNotificationCreateDoneEventFromRelatedRecordId</flowName>
        <inputAssignments>
            <name>DoneDateTime</name>
            <value>
                <elementReference>Done_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>User_Notification_Related_SF_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>systemuser</name>
            <value>
                <elementReference>System_User</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
